// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.ng-invalid {
  background-color: #fcc;
}

.LeftHalf {
  float: left;
  width: 40%;
  padding-right: 5%
}

.RightHalf {
  width: 49%;
  float: left;
  padding-left: 5%;
  border-left: solid 1px #aaa;
}

tr.clickable {
  &:hover {
    td {
      background-color: #ffe;
    }
  }
  cursor: pointer;
}

tr.active {
  td {
    background-color: #ffd;
    font-weight: bold;
  }
}



